@font-face {
	font-family: "OpenSans-Regular";
	src: url("../../public/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "OpenSans-SemiBold";
	src: url("../../public/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "PlayfairDisplay";
	src: url("../../public/fonts/PlayfairDisplay.ttf") format("truetype");
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url("../../public/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Night-House";
	src: url("../../public/fonts/Night-House.otf") format("truetype");
}

@font-face {
	font-family: "Rolves-Regular";
	src: url("../../public/fonts/Rolves-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Silent-Reaction";
	src: url("../../public/fonts/Silent-Reaction.ttf") format("truetype");
}

@font-face {
	font-family: "Amtenaryos.otf";
	src: url("../../public/fonts/Amtenaryos.otf") format("truetype");
}

@font-face {
	font-family: "Marny-Regular";
	src: url("../../public/fonts/Marny-Regular.otf") format("truetype");
}

body,
main,
section {
	padding: 0;
	margin: 0;
	color: #f7f1e9;
	color: #f3e9db;
}

/* alternative background
	--x: calc(var(--posX, 0) * 1px);
	--y: calc(var(--posY, 0) * 1px);
	background-image: linear-gradient(115deg, rgb(211 255 215), rgb(0, 0, 0)),
		radial-gradient(
			90% 100% at calc(50% + var(--x)) calc(0% + var(--y)),
			rgb(154, 27, 118),
			rgb(91, 56, 128)
		),
		radial-gradient(
			100% 100% at calc(80% - var(--x)) calc(0% - var(--y)),
			rgb(235, 235, 204),
			rgb(204, 192, 192)
		),
		radial-gradient(
			150% 210% at calc(50% + var(--x)) calc(0% + var(--y)),
			rgb(020 175 125),
			rgb(211, 76, 238)
		),
		radial-gradient(
			100% 100% at calc(80% - var(--x)) calc(20% - var(--y)),
			rgb(215, 166, 144),
			rgb(000 200 255)
		),
		linear-gradient(60deg, rgb(255 000 000), rgb(219, 42, 204));
	background-blend-mode: overlay, overlay, difference, difference, difference,
		normal;
	backdrop-filter: saturate(50%);
	backdrop-filter: brightness(200%);
	backdrop-filter: opacity(10%); */
